# Build artifacts
*.o
beavernes

# ROM files (do not commit copyrighted data)
roms/
*.nes
*_test
*_test.exe
*_info.txt

# Misc
build/
.vscode/
Nuklear-4.13.2/
tinyfiledialogs-current/

# Debug files
*_debug.txt